@tailwind base;
@tailwind components;
@tailwind utilities;

/* baseline */
@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-gray-50 text-gray-800 antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    @apply text-sky-700 hover:underline;
  }
}

/* komponentne utilke */
@layer components {
  .btn {
    @apply inline-flex items-center justify-center px-4 py-2 rounded-lg font-semibold shadow-sm;
  }
  .card {
    @apply bg-white rounded-2xl shadow-md p-4;
  }
}
